<div #footer class="page-view">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="inner-content">
    <div class="title dark-color">
      <span class="sub-title"> 
        <a href="http://facebook.com/ninjaCodeGen/" md-icon-button target="_blank">
          <md-icon class="fa fa-facebook"></md-icon>
        </a> 
        |
        <a href="http://twitter.com/ninjaCodeGen/" md-icon-button target="_blank">
          <md-icon class="fa fa-twitter"></md-icon>
        </a>
      </span>
      <span class="sub-title">NinjaCodeGen © 2017 - brought to you by <a href="http://DNAfor.NET" target="_blank">DNA</a></span>      
    </div>
  </div>
</div>