<!--color="primary"-->
<md-toolbar #navbar class="navbar" id="navbar">
  <a href="http://NinjaCodeGen.com">
    <img fxHide fxShow.gt-md src="assets/ncg-logo-glowsticks2.png" style="height:50px; margin: 3px 5px 0px 5px;" />
    <img fxShow fxHide.gt-md src="assets/ncg-logo-glowsticks2.png" style="height:20px; margin: 3px 5px 0px 5px;" />
  </a>
  <span fxHide fxShow.gt-md>NinjaCodeGen</span>
  <div fxFlex>
    <div fxFlex="100" fxFlex.gt-lg="70" fxFlex.gt-sm="90" fxFlexOffset="0" fxFlexOffset.gt-lg="15" fxFlexOffset.gt-sm="10" fxLayoutAlign="space-around center">
      <a href="#body" pageScroll md-icon-button [pageScrollEasing]="myEasing">
        <md-icon>home</md-icon>
      </a>
      <a href="#gallery" pageScroll md-button [pageScrollEasing]="myEasing">Gallery</a>
      <a href="#features" pageScroll md-button [pageScrollEasing]="myEasing">Features</a>
      <a href="#ratings" pageScroll md-button [pageScrollEasing]="myEasing">Vote!</a>
      <a href="#newsletter" pageScroll md-button [pageScrollEasing]="myEasing">Sign Up!</a>
      <a href="https://medium.com/ninjacodegen" md-button target="_blank">Blog</a>
      <a href="http://ncg-beta.azurewebsites.net/" md-button target="_blank">Try the Beta!</a>
      <a href="http://facebook.com/ninjaCodeGen/" md-icon-button target="_blank">
        <md-icon class="fa fa-facebook"></md-icon>
      </a>
      <a href="http://twitter.com/ninjaCodeGen/" md-icon-button target="_blank">
        <md-icon class="fa fa-twitter"></md-icon>
      </a>

      <!--<a pageScroll md-button href="#ratings" [pageScrollEasing]="myEasing">Feature Rating</a>-->
      <!--<a pageScroll md-button href="#ratings" [pageScrollEasing]="myEasing">Feature Rating</a>
      <a pageScroll md-button href="#test-app" [pageScrollEasing]="myEasing">Test</a>-->
      <!--<a md-button href="#ratings">Feature 1</a>
      <a md-button href="#ratings">Feature 2</a>-->
      <span fxFlex></span>
      <div class="nav-login">
        <span *ngIf="auth.loggedInState" class="display-name">{{ auth.loggedInState.displayName }}</span>
        <button class="login-button" md-icon-button [mdMenuTriggerFor]="themeMenu">
          <img *ngIf="auth.loggedInState" class="display-avatar" src="{{ auth.loggedInState.photoURL }}" />
          <md-icon *ngIf="!auth.loggedInState">account_circle</md-icon>
        </button>
      </div>
      <md-menu #themeMenu x-position="before" [overlapTrigger]="false">
        <span *ngIf="auth.loggedInState">
          <button md-menu-item>
            <md-icon class="fa fa-address-book"></md-icon>{{ auth.loggedInState.email }}
          </button>
          <hr />
          <button md-menu-item (click)="auth.logout()">
            <md-icon class="fa fa-sign-out"></md-icon>Logout
          </button>
        </span>
        <span *ngIf="!auth.loggedInState">
          <button md-menu-item (click)="auth.login()">
            <md-icon class="fa fa-sign-in"></md-icon>Login to GitHub
          </button>
        </span>
      </md-menu>
    </div>
  </div>
</md-toolbar>
