<div #banner class="page-view texture-background">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="inner-content">
    <div class="title">
      <span>NinjaCodeGen</span>
      <span class="sub-title">Angular code generator.. to kick ass!</span>
    </div>
    <div class="banner-video">
      <img [src]="banners[0].imgUrl">
    </div>
    <div>
      <a class="banner-demo-button" href="http://ncg-beta.azurewebsites.net/" md-button target="_blank">Try our beta!</a>
    </div>
  </div>
</div>