<div fxFlex fxLayout="column">
  <navbar></navbar>
  <div fxFlex="">
    <div class="container">
      <div fxLayout="column">
        <!--banner-->
        <ncg-banner id="banner"></ncg-banner>
        <!--gallery-->
        <ncg-gallery id="gallery"></ncg-gallery>
        <!--features-->
        <ncg-features id="features" style="margin: 15px 0 0 0"></ncg-features>
        <!--ratings-->
        <ncg-feature-request-ratings id="ratings" style="margin: 15px 0 0 0"></ncg-feature-request-ratings>
        <!--chat-->
        <ncg-chat id="contact" style="margin: 15px 0 0 0"></ncg-chat>
        <!--footer-->
        <footer id="aboutUs" style="margin: 15px 0;"></footer>
      </div>
    </div>
  </div>
</div>
