/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/indigo-pink';
@import '~@angular/material/_theming';
@include mat-core();
$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-blue);
$theme: mat-light-theme($primary, $accent);
$font-family: 'Roboto';
@include angular-material-theme($theme);
html,
body {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

.mat-toolbar.mat-secondary {
  background: #e3e3e3;
  color: #666;
}

.navbar {
  background: transparent;
  color: white;
  position: fixed;
  transition: background 0.5s linear;
  z-index: 999;
  &.nav-transform {
    background: #ee1933;
  }
  .nav-login {
    height: 50px;
    line-height: 45px;
    text-align: center;
    .display-name {
      font-size: 15px;
      margin-right: 10px;
      vertical-align: sub;
    }
    .display-avatar {
      height: 50px;
      width: 50px;
    }
    .login-button {
      line-height: 50px;
      vertical-align: top;
    }
  }
}

.container {
  background-color: #eee;
  border: solid #a3a3a3;
  border-width: 0 1.5px;
  min-height: 90%;
}

.container .layout-row {
  border: 1px solid red;
  margin: 15px 0;
  padding: 10px;
}

.page-view {
  text-align: center;
  // background: url('./assets/bg_texture_8.png'), #7b4397;
  // background: url('./assets/bg_texture_2.jpg'), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  // background: url('./assets/bg_texture_8.png'), linear-gradient(to left, #7b4397, #dc2430);
  // background: linear-gradient(to left, #7b4397, #dc2430);
  &.texture-background {
    background: linear-gradient(to left, #D81B60, #8E24AA);
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('./assets/bg_texture_8.png');
      width: 100%;
      height: 100%;
      opacity: 0.2;
    }
  }
  &.gallery-background {
    // background-image: url('./assets/bg_texture_9.jpg');
    background-color: white;
  }
  &.feature-rating-background {
    background-color: white;
  }
  .inner-content {
    height: 100%;
  }
  .title {
    color: white;
    display: block;
    font-family: $font-family;
    font-size: 40px;
    margin-top: 30px;
    &.dark-color {
      color: #333;
    }
    .sub-title {
      display: block;
      font-family: $font-family;
      font-size: 20px;
      margin-top: 10px;
    }
  }
  .banner-demo-button {
    background: transparent;
    border: 1px solid #eee;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    transition: border 0.5s, background 0.5s, color 0.5s linear;
    position: relative;
    &:hover {
      border: none;
      background: white;
      color: #EC407A;
    }
  }
  .banner-video {
    // border: 2px ridge #bbb;
    padding: 5px;
    position: relative;
  }
  .gallery-items-view {
    position: relative;
    width: 100%;
    .showcase {
      width: 250px;
      height: 275px;
      position: relative;
      &:after {
        background-image: url('./assets/mac.png');
        background-size: 320px 200px;
        background-position: top center;
        background-repeat: no-repeat;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      >div.img-item {
        margin-top: 33px;
        margin-right: 28px;
        margin-left: 28px;
        height: 130px;
        >img {
          width: 100%;
          height: 100%
        }
      }
      >div.item-title {
        margin-top: 30px;
      }
      >a {
        position: relative;
        z-index: 100;
      }
    }
  }
  .features-view {
    ul.featurelist {
      list-style: none;
      text-align: left;
      li {
        padding: 10px;
        >div.feature-title {
          font-weight: bold;
          margin: 5px;
          text-transform: capitalize;
        }
        >div.feature-content {
          margin-left: 15px;
        }
      }
    }
  }
  .features-rating-view {
    margin-top: 30px;
    width: 100%;
    div.feature-table-outer {
      max-height: 500px;
      overflow: auto;
    }
    table {
      width: 100%;
      tr {
        height: 35px;
        line-height: 38px; 
      }
      td {
        border-bottom: 1px solid #bbb;
        margin-top: 10px;
      }
    }
    button {
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
    md-icon {
      padding: 0;
      margin: 0;
      line-height: 25px;
      font-size: 17px;
    }
  }
  .features-contact-view {
    margin-top: 30px;
    width: 100%;
  }
}